{% extends "template.html" %}

{% block title %}
About
{% endblock %}

{% block description %}
Here is some information about Calc Designer and its authors.
{% endblock %}

{% block content %}
<p>We love Calculators. Calculators love us. This app was made for my Y3 CEP project in school just for fun.</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean mattis ex leo, gravida semper tellus semper vel. Vestibulum libero nulla, posuere eu arcu id, ultricies egestas orci. Maecenas nec nisl non odio scelerisque viverra. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum, massa a commodo auctor, nibh nisl bibendum libero, a varius sem urna nec odio. Cras sed felis eros. Integer non fringilla lectus. Etiam auctor molestie magna, et dignissim dui finibus nec. Aliquam pretium interdum urna sit amet hendrerit. Cras id massa vel lectus condimentum ultrices. Curabitur lacus tortor, pretium at scelerisque sed, consectetur id lectus. Donec ut vestibulum libero.
</p>
<h3 class="is-size-4 has-text-weight-semibold my-5">Developers</h3>
<div class="columns">
  <div class="column is-half">
    <div class="card card-content">
      <div class="media mb-2">
        <div class="media-left">
          <div class="image is-48x48">
            <img src="https://chamburr.xyz/icon.png" alt="Avatar">
          </div>
        </div>
        <div class="media-content">
          <p class="title is-4">Cen Han</p>
          <p class="subtitle is-6">@chamburr</p>
        </div>
      </div>
      <div class="content">
        Hi there, I am still Cen Han. 👋
        <br>
        <div class="mt-2">
          <a href="https://chamburr.xyz">Website</a> •
          <a href="https://github.com/chamburr">GitHub</a> •
          <a href="https://twitter.com/@CHamburr22">Twitter</a>
        </div>
      </div>
    </div>
  </div>
  <div class="column is-half">
    <div class="card card-content">
      <div class="media mb-2">
        <div class="media-left">
          <div class="image is-48x48">
            <img src="https://chamburr.xyz/u/aOVDTf.png" alt="Avatar">
          </div>
        </div>
        <div class="media-content">
          <p class="title is-4">Clock</p>
          <p class="subtitle is-6">@clock</p>
        </div>
      </div>
      <div class="content">
        Hi there, I made the author work on this. 👋
        <br>
        <div class="mt-2">
          <a href="https://chamburr.xyz/u/Vp9eJZ.png">Photograph</a>
        </div>
      </div>
    </div>
  </div>
</div>
<h3 class="is-size-4 has-text-weight-semibold my-5">Acknowledgements</h3>
<p>These are the libraries or services which helped us in making Calc Designer.</p>
<ul class="has-bullet">
  <li><a href="https://flask.palletsprojects.com">Flask</a> - Web framework</li>
  <li><a href="https://bulma.io">Bulma</a> - CSS library</li>
  <li><a href="https://fontawesome.com">Font Awesome</a> - Vector icons</li>
</ul>
{% endblock %}
